server:
  port: 8080
  servlet:
    context-path: /transportation-booking

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/transportation_booking?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect


jwt:
  signerKey: "12345678901234567890123456789012345678901234567890"
  valid-duration: 3600